@charset "UTF-8";

/* Start of Kayla  */
 /* Header image for main page
 source of image: https://www.rawpixel.com/image/3297487/free-photo-image-morocco-dune-africa. Class itself pulled from different bootstrap classes */
.headerimage { 
	background-image: url("images/rollingsands.jpg");
	background-size: cover;
	margin: 0 auto;
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

} 
/*  Aboutus image from Kayla
 source of image: https://www.rawpixel.com/image/3299643/free-photo-image-cc0-creative-commons. About us class idea to match headerimage  */
.aboutus { 
	background-image: url("images/dawn.jpg");
	background-size: cover;
	margin: 0 auto;
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

} 
#firstpage {
	text-align: center;
}
.title {
	border: hidden; 

}
/* Background color source: https://www.w3schools.com/css/css_background.asp. color taken from w3schools color map https://www.w3schools.com/colors/colors_names.asp */ 

body { 
	/* background-color: #FFFAFA;*/
	background-color: #F7F7F7;
 
}

 /* Source of testimonial box and offerings box idea: https://www.w3schools.com/howto/howto_css_testimonials.asp */ 
  .testimonial {
	border: 2px solid #000000;
	background-color: #FAEBD7;
	border-radius: 5px;
	padding: 16px;
	margin: 16px 0;
  }
  .testimonial img {
	float: left;
	margin-right: 20px;
	border-radius: 70%;
  }
  
  .offering {
	border: 1px solid #000000;
	background-color: #FAEBD7;
	border-radius: 5px;
	padding: 16px;
	margin: 16px 0;
  }

  /*Map Project Page Specific */

  /*  Map header image.
source of image:https://www.rawpixel.com/image/440262/free-photo-image-map-world-background. About us class idea to match headerimage  */
#mapcenter {
	text-align: center;
}

#kmtom {
	text-align: center;
}

#hireus {
	text-align: center;
}

.mapheader { 
	background-image: url("images/worldBW.png");
	background-size: cover;
	margin: 0 auto;
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
} 
  /*source of css for next two https://www.w3schools.com/howto/howto_css_responsive_iframes.asp for the inserted Google map. Google map itself created by Kayla*/
.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
  }
  
  .mapframe {
	  position: relative;
	  overflow: hidden;
	  width: 100%;
	  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	}

 /* Adding a border around the km to miles converter, to add definition to it. Border from: https://www.w3schools.com/css/css_border.asp */ 
  .milesconverter { border: groove;
				display: inline-block;
				position: relative;
				padding: 1%;
	}

/* end of Kayla */ 

/* Start of Grace */
/* change up the default fonts */
h1, h2, h3, p, li {
	font-family: "Bahnschrift", sans-serif;
}
/* center the about us part of the index page - did multiple ids because for some reason using a class didn't center all of the text */
#aboutcenter {
	text-align: center;
}

/* center the values part of the index page */
#center {
	text-align: center;
}

/* highlight our value with a red inset border */
#valueborder {
	border-style: inset;
	border-color: red;
}
/* Teams page - heavily inspired by https://www.w3schools.com/howto/howto_css_team.asp */
/* Three columns side by side */
.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 45px 0 45px;
}
/* source of image: https://www.rawpixel.com/image/440152/free-photo-image-hurricane-nasa-storm */
.teamheaderimage {
	background-image: url("images/hurricane1.jpg");
	background-size: cover;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
}

/* used this to create a black shadow behind title on team page so it was visible against the hurricane picture and later also on the index page - https://www.w3schools.com/css/css_text_shadow.asp */
.teamtitle {
	color: black;
	text-shadow: 2px 2px 4px #000000;
}

/* making sure the h2 on the team page stays put and is emphasized enough */
.teamtext {
	border: hidden;
	text-align: center;
	margin: -50px 0 50px;
	font-size: 40px;
}

/* Pushes columns below each other when using a smaller screen  - part of the w3schools team page cited above */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* trying to make the team cards not bleed into the footer or vice versa, plus even it out now that it's two cards not 3 */
.teambox {
	margin-right: 70px;
	margin-left: 70px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
}

/* Add light shadows to cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

/* left and right padding in container */
.container {
  padding: 20px 16px;
}

/* Clear floats - part of w3 schools team page cited above */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
/* used in team subtitles and links - color is Rich Maroon from https://html-color.codes/pink */
.subtitle {
  color: #b03060;
}
/* pink contact us buttons on team page with links going to nothing - rich maroon from https://html-color.codes/pink */
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #b03060;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
/* interactive button color when hovering on it */
.button:hover {
	background-color: #555;
}
/* FOOTER css */
/* trying to make sure the buttons in the footer stay separated from the text below it */
.footerwrap {
	margin: auto;
	width: 100%;
}
/* used w3 schools for help with making buttons as footer links https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced, color is Rich Maroon from https://html-color.codes/pink */
.footerlink {
	background-color: #b03060;
	color: white;
	padding: 25px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: auto;
}
/* trying to fix whichever setting pushed the link buttons to the left - not sure what made that happen. this made it respond poorly on a small screen, Grace's fault */
#footercenter {
	padding-inline-start: 350px;
}
