@charset "UTF-8";

 /* Header image from Kayla
 source of image: https://www.rawpixel.com/image/3297487/free-photo-image-morocco-dune-africa */
.headerimage { 
	background-image: url("images/rollingsands.jpg");
	background-size: cover;
	margin: 0 auto;
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

} 
/*  Aboutus image from Kayla
 source of image: https://www.rawpixel.com/image/3299643/free-photo-image-cc0-creative-commons */
.aboutus { 
	background-image: url("images/dawn.jpg");
	background-size: cover;
	margin: 0 auto;
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

} 
.title { overflow: auto;
	border: hidden; 

}
/* Source: https://www.w3schools.com/css/css_background.asp. color taken from w3schools color map */ 

body { 
	background-color: #FFFFF0;
 
}

/*source of css for next two https://www.w3schools.com/howto/howto_css_responsive_iframes.asp for the inserted Google map*/
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.mapframe {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

 /* Source of testimonial box idea: https://www.w3schools.com/howto/howto_css_testimonials.asp */ 
  .testimonial {
	border: 2px solid #000000;
	background-color: #FAEBD7;
	border-radius: 5px;
	padding: 16px;
	margin: 16px 0;
  }
  .testimonial img {
	float: left;
	margin-right: 20px;
	border-radius: 70%;
  }
 
.milesconverter { border: groove;
}
/* end of Kayla */ 
